html,body {
    height: 100%;
}
body {
    background: radial-gradient(ellipse at center,  #0e380a  0%, #0a0a0a 70%);
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}
.clock {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #f1ffe4;
    text-shadow: 0 0 28px rgb(63, 179, 63),  0 0 20px rgba(10, 230, 10, 0);
}
.date {
    letter-spacing: 0.1em;
    font-size: 60px;
}
.text {
    letter-spacing: 0.1em;
    font-size: 12px;
    padding: 20px 0 0;
}
